# Dependency Directories
node_modules/
backend/node_modules/
frontend/node_modules/

# Local databases & envs
*.db
**/.env
**/.env.*
!**/.env.example

# Uploads & logs
uploads/
dist/
.DS_Store
*.log

.task-artifacts/